<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ClazzMapper">
    <!--  添加班级  -->
    <insert id="add">
         insert into clazz(name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>

    <!--  更新班级  -->
    <update id="updateById">
        update clazz
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="room != null and room != ''">
                room = #{room},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="masterId != null">
                master_id = #{masterId},
            </if>
            <if test="subject != null">
                subject = #{subject},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--  批量删除班级  -->
    <delete id="deleteByIds">
         delete from clazz where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--  分页条件查询  -->
    <select id="list" resultType="com.example.pojo.Clazz">
        select c.*, e.name masterName from clazz c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                and c.name like concat('%', #{name}, '%')
            </if>
            <if test="room != null and room != ''">
                and c.room like concat('%', #{room}, '%')
            </if>
            <if test="masterId != null">
                and c.master_id = #{masterId}
            </if>
            <if test="subject != null">
                and c.subject = #{subject}
            </if>
             <if test="time != null">
                 and #{time} between c.begin_date and c.end_date
            </if>
        </where>
        order by e.update_time desc
    </select>
    <select id="getById" resultType="com.example.pojo.Clazz">
        select c.*, e.name masterName from clazz c left join emp e on c.master_id = e.id
        where c.id = #{id}
    </select>
</mapper>
